
html, body {
    margin: 0;
    padding: 0;
}



.tqheader {
    background-color: #CCCCCC;
}
.tqstickyheader {
    position: fixed;
    top: 0;
    width: 100%
}
.tqheaderconnect {
    background-color: #F8C471;
}

