
@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/AuctionHub.js"></script>

    <script>
        $(document).ready(function () {
            AuctionHub.Init("/blue_hub");
        });
    </script>

    <style>
        #stub_output
        {
            width: 800px;
            height: 800px;
        }
    </style>
}

<h2>FunnelQuest</h2>
<textarea id="stub_output"></textarea>
